.App-logo {
    height: 40vmin;
    pointer-events: none;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
}

.footer {
    text-align: center;
}

.announcement {
    background-color: #f73378;
    text-align: center;
    color: white;
}

.dashboard {
    padding: 15px;
}

.searchbox {
    padding: 10px;
    border-radius: 15px;
}

.searchbox-input {
    width: 80%;
}

.label-image {
    margin: 0px 4px;
}

.center {
    margin: auto;
    text-align: center;
}

.menu-tab {
    background-color: #4dabf5;
}
