.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
}

.search-bar {
    margin: 20px 0;
}

.announcement {
    background-color: grey;
    padding: 5px 0;
}
