.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
}

.announcement {
    background-color: palevioletred;
}

.header {
    background-color: palegoldenrod;
}

.searchbox {
    padding: 10px;
}

.searchbox-input {
    width: 80%;
}
