@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans+Thai&display=swap');

:root {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

code {
    font-family: 'IBM Plex Mono', monospace;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    padding: 5px 0;
    background-color: aliceblue;
}
